<!--<ul class="list">-->
<!--<li>-->
<!--HTML-->
<!--</li>-->
<!--<li>-->
<!--JSON-->
<!--</li>-->
<!--</ul>-->
<div class="btn-area" style="margin-bottom: 10px">
    <button id="html-btn" class="btn active" onclick="display('html');">HTML</button>
    <button id="json-btn" class="btn" onclick="display('json')">JSON</button>
</div>
<div id="html">
    <div class="email">
        <h3>Email:</h3>
        <ul class="normal_list">
            <li>lazar.samuel@gmail.com</li>
            <li>eduu.dorin@gmail.com</li>
            <li>andrei.vrabie@gmail.com</li>
        </ul>
    </div>

    <div class="phone">
        <h3>Phone:</h3>
        <ul class="normal_list">
            <li>004073212312</li>
            <li>004012312312</li>
            <li>004012398992</li>
        </ul>
    </div>

    <div class="img">
        <h3>Images:</h3>
        <ul  class="list">
            <li><img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/c1.0.160.160/p160x160/22554979_1552764724767215_8264978889108378366_n.jpg?oh=5ab9be2b504ec58d171fc204857289e7&oe=5AD4E72A" alt=""></li>
            <li><img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/c68.15.400.400/s160x160/14199471_1230438366977842_685015278121206508_n.jpg?oh=c1104af023f398c43a95bcf92b006055&oe=5A8AED22" alt=""></li>
            <li><img src="./images/none.png"></li>
        </ul>
    </div>
    <button class="btn active" style="width:100%; margin:15px 0 0 0">Export as HTML</button>
</div>
<div id="json" style="display: none">
    <pre>
        <code>
        <strong>{</strong>
            <span class="red">"email"</span>: <strong>[</strong>
                "lazar.samuel@gmail.com",
                "eduu.dorin@gmail.com",
                "andrei.vrabie@gmail.com"
            <strong>],</strong>
            <span class="red">"phone"</span>: <strong>[</strong>
                "004073212312",
                "004012312312",
                "004012398992"
            <strong>],</strong>
            <span class="red">"img"</span>: <strong>[</strong>
                "https://scontent-otp1-1.xx.fbcdn.net/sami.png",
                "https://scontent-otp1-1.xx.fbcdn.net/edu.png",
                "https://scontent-otp1-1.xx.fbcdn.net/andrei.png"
            <strong>]</strong>
        <strong>}</strong>
        </code>
    </pre>
    <button class="btn active" style="width:100%; margin:15px 0 0 0">Export as JSON</button>
</div>
