#wrapper{
    width:1024px;
    margin:0 auto;
}
*{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: inherit;
}
#header{
    min-height:75px;
    background: #4c4fa5;
    margin-bottom: 50px;
    color:#fff;
}

#contentArea {
    margin-left:2px;
    margin-top:20px;
}
.load { width: calc(30% - 30px);
    font-size: 36px;
    padding: 5px 10px;
    border:1px #ccc solid;
    border-left:0 !important;
    margin-left:-5px;
    background: #4c4fa5;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color: #fff;

    }
.red {
    color:darkred;
    font-weight: 800;
}
.btn
{
    width:49%;
    border-radius:5px;
    padding: 5px;
    font-size: 20px;
    border:1px #ccc solid;
}

.active{
    background-color: #4c4fa5;
    color: #fff;
    border: 1px #4c4fa5 solid;
}

.normal {

}
.search-input{
    width: 70%;
    font-size: 36px;
    padding: 5px 10px;
    border:1px #ccc solid;
    border-right: 0 !important;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.list li:first-child{
    margin-left:2px !important;
}
.list li {
    display: inline-block;
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
}

.normal_list{
    padding:5px;
    list-style: none;
    font-size:17px;
}
